@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');

body {
    font-family: 'Montserrat', sans-serif;
}

.topo01{
    padding: 2%;
}

.bg01{
    background-image: url(../images/bgOne.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.txtOne{
    font-size: 5em;
    font-weight: 100;
    color: #444444;
    text-align: left;
    letter-spacing: 11px;
    margin-top: 12px;
    margin-left: -40px;
}

.txtOneB{
    font-size: 1.5em;
    font-weight: 100;
    color: #444444;
    text-align: right;
    letter-spacing: 6px;
    margin-top: -25px;
    margin-right: 77px;
}

.txtOneC{
    color: #01cd88;
    text-align: right;
    font-size: 1.5em;
    line-height: 20px;
    padding-left: 8px;
}

.txtOneD{
    color: #01cd88;
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 5px;
    margin-left: 14px;
    margin-top: -16px;
}

.centavos{
    color: #01cd88;
    font-size: 1.4em;
    text-align: left;
    margin-left: -60px;
}

.tiraM{
    margin: 0;
    padding: 0;
}

.txtOneE{
    color: #01cd88;
    text-align: center;
    font-size: 1.5em;
    line-height: 0;
}

.marginL{
    padding-top: 18px;
    margin-left: -75px;
}

.espaco{
    margin-top: 20px;
}

.topo02{
    margin-top: 15%;
    margin-bottom: 20%;
}

.twoProduct{
    padding: 6% 2% 8%;
    background-color: #fff;
    border-radius: 8px;
}

.txtTwo{
    color: #1b75bb;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.txtTwoB{
    color: #888;
    text-align: center;
    font-size: 1em;
    letter-spacing: 1px;
    margin-top: 18px;
}

.hotEnviar{
    background-color: #f22e4e;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 0.8em;
    padding: 4% 10%;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 35px;
    cursor: pointer;
  }

  .marginProd{
    margin-top: 5%;
  }

  .txtProdOne{
    color: #444;
    font-size: 2.5em;
    text-align: center;
  }

  .txtProdTwo{
    color: #888;
    text-align: center;
    font-size: 1.2em;
  }

  .txtProdThree{
    color: #1b75bb;
    font-size: 1em;
    text-align: right;
  }

  .txtProdFour{
    color: #1b75bb;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
  }

  .centavosTwo{
    color: #1b75bb;
    font-size: 1em;
    margin-top: 10px;
  }

  .txtProdFive{
    color: #1b75bb;
    font-size: 1.2em;
    text-align: center;
  }

  .marginProd{
    margin-top: 5%;
    margin-bottom: 8%;
  }

  .tituloProd{
    color: #1b75bb;
    text-align: center;
    margin-top: 8%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
  }

  .bgProd{
    background-image: url(../images/bgProd01.png);
    background-repeat: no-repeat;
    background-position: center top;
  }
  

  .bgFooter{
    background-image: url(../images/bgFooter.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .imgBlock{
    background-image: url(../images/img05.png);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .txtFooter{
    text-transform: uppercase;
    font-size: 2em;
    color: #fff;
    font-weight: 700;
  }

  .marginOne{
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .marginTwo{
    padding-top: 15%;
    padding-left: 5%;
    padding-bottom: 40%;
  }

  .btnSolicitar{
    background-color: #f22e4e;
    padding: 1% 4%;
    border-radius: 10px;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .btnSolicitar:hover{
    background-color: #bf102c;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }

  .txtRodape{
      color: #888;
  }

  @media (max-width: 767px){
    .marginL{
        padding-top: 0;
        margin-left: 0;
    }
    .txtOne{
        font-size: 2em;
        font-weight: 300;
        color: #fff;
    }
    .txtOneB {
        font-size: 1.4em;
        font-weight: 300;
        color: #ffffff;
        text-align: right;
        letter-spacing: 6px;
        margin-top: -20px;
    }
    .txtOneC {
        font-size: 1.4em;
        line-height: 20px;
    }
    .txtOneD {
        color: #01cd88;
        font-size: 2em;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0;
        margin-left: 0;
        margin-top: 0;
    }
    .centavos {
        color: #01cd88;
        font-size: 1.2em;
        text-align: left;
        margin-left: -15px;
        margin-top: 5px;
    }
    .txtOneE {
        font-size: 1em;
    }
    .tituloProd{
        font-size: 1.5em;
        margin-top: 25%;
    }
    .empurra{
        margin-left: 13%;
    }
    .tiraM2{
        margin-left: -10%;
    }
  }

  .link{
      text-align: center;
      margin-top: 12%;
  }

.link a{
    color: #444;
    font-size: 1.2em;
    font-weight: 700;
}

.txtLojasA{
    font-size: 0.9em;
    font-weight: 700;
    text-align: center;
}

.txtLojasB{
    font-size: 0.9em;
    text-align: center;
}

@media (min-width: 1200px){
    .topo02 {
        margin-top: 7%;
        margin-bottom: 0%;
    }
    .bg01{
        background-size: contain;
    }
}